<div class="dashboard">
  <header class="dashboard-header mt-5">
    <h1 class="dashboard-header-title">
      Total Due:
      <span class="dashboard-header-title--total" *ngIf="totalDue"
        >{{ currency }} {{ totalDue }}</span
      >
    </h1>
  </header>
  <section
    class="d-flex flex-row my-4 gap-5 align-items-center dashboard-filter"
  >
    <div class="dashboard-filter-sort">
      <fa-icon class="icon primary" [icon]="faSort"></fa-icon>Sort
      <fa-icon class="icon secondary" [icon]="faAngleDown"></fa-icon>
    </div>
    <div class="dashboard-filter-items">
      <fa-icon class="icon primary" [icon]="faFilter"></fa-icon>Filter
      <fa-icon class="icon secondary" [icon]="faAngleDown"></fa-icon>
    </div>
    <div class="flex-fill dashboard-filter-search">
      <label for="searchOrders" class="visually-hidden">Search</label
      ><input
        type="text"
        id="searchOrders"
        placeholder="Customer Name/ Phone No. / Reg Address"
        class="filter-search-input border-0 p-2 rounded"
        [formControl]="search"
        (blur)="searchOrders($event)"
      />
    </div>
  </section>
  <section class="d-md-flex justify-content-between gap-1">
    <div
      *ngFor="let list of orders; let i = index"
      class="card-wrapper"
    >
      <h2 class="card-wrapper-title">{{ list.status }}</h2>
      <div
        cdkDropList
        id="List{{ i }}"
        [cdkDropListData]="list.data"
        [cdkDropListConnectedTo]="[list.target]"
        class="card-container px-3 pt-3"
        (cdkDropListDropped)="updateOrderStatus($event)"
      >
        <div class="card mb-3" *ngFor="let item of list.data" cdkDrag>
          <app-board [order]="item"></app-board>
        </div>
      </div>
    </div>
  </section>
</div>
